<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Verizon Tweets</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script>
        setTimeout(function(){
            window.location.reload(1);
        }, 10000);
    </script>
    <noscript>
        <meta http-equiv = "refresh" content = "10">
    </noscript>
    </head>
    <body>
        <ul>
        {% for entry in entries %}
            <li>
                <p class="title">
                    <span class="time">{{ entry.time }}</span> - 
                    <a href="https://twitter.com/{{ entry.screen_name }}" class="screen_name" target="_blank">{{ entry.screen_name }}</a>
                </p>
                <p class="place">{{ entry.place }}</p>
                {% autoescape false %}
                <p class="text">{{ entry.text }}</p>
                {% endautoescape %}
            </li>
        {% endfor %}
        </ul>
    </body>
</html>